{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width">

    <link href="{% static 'custom_templates/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'custom_templates/css/fontawesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'custom_templates/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <script src="{% static 'custom_templates/js/jquery-3.3.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'custom_templates/js/bootstrap.js' %}" type="text/javascript"></script>
    <script src="{% static 'custom_templates/js/fontawesome.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'custom_templates/js/all.min.js' %}" type="text/javascript"></script>

    <style>

        @font-face {
            src: url("../../../static/custom_templates/font/IRANSansWeb(FaNum).woff2");
            font-family: iran-sans-number;
        }

        .text-font{
            font-family: iran-sans-number, sans-serif;
        }

        .hover-pointer:hover{
            cursor: pointer;
        }

        .clear-fix::after{
            content: '';
            clear: both;
            display: table;
        }

    </style>

</head>
<body>

<div class="container-fluid text-font" dir="rtl">

    {% include 'custom_templates/template_1/header.html' with brand='حلزون' brand_name_size='30' %}
    {% include 'custom_templates/template_1/shopping-cart.html' %}
{#    {% include 'custom_templates/template_1/not_found.html' %}#}
{#    {% include 'custom_templates/template_1/search_results.html' %}#}
{#    {% include 'custom_templates/template_1/image_with_text_overlay.html' with main_text_size='65' margin_text_size='20' main_text='image with text overlay' margin_text='Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story' %}#}
{#    {% include 'custom_templates/template_1/collection.html' with column_num=4 %}#}
{#    {% include 'custom_templates/template_1/image_with_text.html' with main_text='یه محصول خیلی خوب' margin_text='یه توضیح عالی' %}#}
{#    {% include 'custom_templates/template_1/slide_show.html' %}#}
    {% include 'custom_templates/template_1/footer.html' with text='این یک متن است' position='right' %}

</div>

</body>
</html>