<div class="header">
    <div class="row wrapper">
        <div class="col-md-2 d-flex justify-content-center align-items-center font-large">{{ brand }}</div>
        <div class="col-md-7"></div>
        <div class="search-icon d-inline-block col-md-2 d-flex justify-content-end align-items-center
                font-large">
            <i class="fas fa-search"></i>
        </div>
        <div class="cart d-inline-block col-md-1 d-flex justify-content-start align-items-center font-large">
            <i class="fas fa-shopping-cart"></i>
        </div>
    </div>
</div>

<style>
    .header .wrapper{
        height: 50px;
    }
    .font-large{
        font-size: 25px;
    }
</style>

