<div class="image-with-text-overlay">
    <div class="row wrapper">
        <div class="image-wrapper bg-danger">
            <img src="">
        </div>
        <div class="text-wrapper bg-info">
            <div class="large-text bg-warning d-flex justify-content-center align-items-end">{{ large_text }}</div>
            <div class="small-text bg-primary d-flex justify-content-center align-items-start">{{ small_text }}</div>
        </div>
    </div>
</div>

<style>
    .image-with-text-overlay .wrapper{
        position: relative;
    }
    .image-with-text-overlay .image-wrapper{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }
    .image-with-text-overlay .text-wrapper{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>
